/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my css! 
/////////*/

@font-face {
    font-family: HelveticaNeue;
    src: url(./fonts/HelveticaNeue.ttc)
}

@font-face {
    font-family: HelveticaNeue-Bold;
    src: url(./fonts/HelveticaNeue\ Bold.ttf);
}

.container {
    height: 100%;
    width: auto;
    display: flex;
}

.container-left {
    height: 100vh;
    width: 38%;
    background-color: #FDFAF5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-right {
    height: 100vh;
    width: 62%;
    background-color: #28525A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    height: min(130px, 15vh);
    width: auto;
    border-radius: 100px;
    border: 4px solid black;
    position: relative;
    top: 50px;
}

.birds {
    height: min(750px, 80vh);
    width: auto;
}

.image-credit, a, .already{
    color: #28525A;
    font-family: HelveticaNeue, sans-serif;
}

.login {
    color:#F9A466;
    text-decoration: none;
}

.image-credit {
    position: relative;
    top: -20px;
}

a:visited {
    color: #F9A466;
}

.italic {
    font-style: italic;
}

.description {
    font-family: HelveticaNeue, sans-serif;
    text-transform: uppercase;
    color: white;
    margin: 0px 85px 0px 85px;
}

.know-text{
    margin-top: 30px;
}

.form-background {
    margin: 50px 85px 0px 85px;
    background-color: #FDFAF5;
    border-radius: 50px;
    height: 60vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-title {
    font-family: HelveticaNeue-Bold;
    text-transform: uppercase;
    font-size: 1.8vw;
    position: relative;
    top: -10px;
    left: 70px;
}

.form-inline{
    font-family: HelveticaNeue, sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-flow: row wrap;
    font-size: smaller;
    margin: 55px 73px 10px 73px;
    width: 85%;
}

.col-1, .col-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 20px 30px 0px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

input:focus {
    outline: 1px solid #F9A466;
}

.col-1 input {
    margin-right: 30px;
}

.submit-btn {
    font-family: HelveticaNeue-Bold, sans-serif;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #F9A466;
    border: none;
    height: 50px;
    margin: 10px 500px 0px 75px;
    border-radius: 20px;
    width: 20vw;
}

.submit-btn:hover {
    background-color:#28525A;
}

.already{
    margin: 20px 0px 0px 75px;
    font-size: 19px;
}

#pass_message {
    text-transform:initial;
    margin-top: -25px;
    color: red;
}


/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 1000px wide */
@media (max-width: 1000px) {
    .form-inline input {
      margin: 5px 0px 15px 0px;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: center;
      margin: 35px 0px 0px 0px;
      width: 100%;
    }

    .submit-btn {
        margin: 10px 0px 0px 0px;
        width: 40vw;
    }

    .container {
        flex-direction: column;
    }

    .container-left {
        height: 20vh;
        width: auto;
        overflow: hidden;
    }

    .container-right {
        height: 80%;
        width: 100%;
    }

    .birds {
        height: 1150px;
        width: auto;
        object-fit: contain;
    }

    .logo {
        top: 575px;
    }

    .form-background {
        align-items: center;
        margin: 25px 20px 20px 20px;
        width: 90vw;
        height: auto;
    }

    .form-title {
        top: 10px;
        left: 0px;
        font-size: 4vw;
    }

    .description {
        margin: 20px 20px 0px 20px;
    }

    .already {
        margin: 20px 20px 10px 20px;
        text-align: center;
    }

    input {
        width: 60vw;
    }

    .col-1, .col-2 {
        width:auto;
        margin-top: 20px;
    }
  }